@font-face {
  // Font:       DejaVu Sans (https://dejavu-fonts.github.io/)
  // License:    https://dejavu-fonts.github.io/License.html
  font-family: "dejavu_sansextralight";
  src: url("fonts/DejaVuSans-ExtraLight-webfont.woff") format("woff");
}

$primary-text-color: black;
$alt-text-color: white;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dejavu_sansextralight", sans-serif;
  font-weight: 100;
}

#root {
  height: 100vh;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 320px;
  height: 521px;
  display: grid;
  grid-template-rows: 1.5fr 5fr;
  grid-template-areas: "screen" "buttons";
  .screen {
    border: 1px solid #979797;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: screen;
    text-align: right;
    color: $alt-text-color;
    background-color: #34516e;
    border: none;
    display: grid;
    grid-template-rows: auto 80px;
    grid-template-areas: "upper-screen" "lower-screen";
    #upper-screen {
      grid-area: upper-screen;
      padding: 8px 8px 0 8px;
      max-width: 320px;
      .title-bar-buttons {
        display: block;
        margin-bottom: 6px;
        min-width: 60px;
        max-width: 60px;
        min-height: 16px;
        max-height: 16px;
        .title-bar-button {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 8px;
        }
        #red-button {
          background-color: #ff5651;
        }
        #yellow-button {
          background-color: #ffbf3b;
        }
        #green-button {
          background-color: #1ad44c;
        }
      }
      #formula-display {
        display: block;
        padding-right: 10px;
        max-width: 320px;
        font-weight: 300;
      }
    }
    #display {
      grid-area: lower-screen;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: right;
      max-width: 320px;
      max-height: 90px;
      .scaletext-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
  .buttons {
    border: 1px solid #979797;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "clear plus-minus percentage divide" "seven eight nine multiply" "four five six subtract" "one two three add" "zero zero decimal equals";
    button {
      border: 1px solid #979797;
      border-bottom: none;
      color: $primary-text-color;
      font-size: 35px;
    }
    .button-left {
      background-color: #dfdfdf;
      border-left: none;
    }
    .button-right {
      background-color: #fa9039;
      color: $alt-text-color;
      border-left: none;
      border-right: none;
    }
    #zero {
      grid-area: zero;
      padding-left: 28px;
      text-align: left;
      vertical-align: middle;
      border-bottom-left-radius: 4px;
    }
    #equals {
      border-bottom-right-radius: 4px;
    }
  }
}