@font-face {
  font-family: "dejavu_sansextralight";
  src: url("fonts/DejaVuSans-ExtraLight-webfont.woff") format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dejavu_sansextralight", sans-serif;
  font-weight: 100; }

#root {
  height: 100vh;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center; }

.calculator {
  width: 320px;
  height: 521px;
  display: grid;
  grid-template-rows: 1.5fr 5fr;
  grid-template-areas: "screen" "buttons"; }
  .calculator .screen {
    border: 1px solid #979797;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: screen;
    text-align: right;
    color: white;
    background-color: #34516e;
    border: none;
    display: grid;
    grid-template-rows: auto 80px;
    grid-template-areas: "upper-screen" "lower-screen"; }
    .calculator .screen #upper-screen {
      grid-area: upper-screen;
      padding: 8px 8px 0 8px;
      max-width: 320px; }
      .calculator .screen #upper-screen .title-bar-buttons {
        display: block;
        margin-bottom: 6px;
        min-width: 60px;
        max-width: 60px;
        min-height: 16px;
        max-height: 16px; }
        .calculator .screen #upper-screen .title-bar-buttons .title-bar-button {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 8px; }
        .calculator .screen #upper-screen .title-bar-buttons #red-button {
          background-color: #ff5651; }
        .calculator .screen #upper-screen .title-bar-buttons #yellow-button {
          background-color: #ffbf3b; }
        .calculator .screen #upper-screen .title-bar-buttons #green-button {
          background-color: #1ad44c; }
      .calculator .screen #upper-screen #formula-display {
        display: block;
        padding-right: 10px;
        max-width: 320px;
        font-weight: 300; }
    .calculator .screen #display {
      grid-area: lower-screen;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: right;
      max-width: 320px;
      max-height: 90px; }
      .calculator .screen #display .scaletext-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
  .calculator .buttons {
    border: 1px solid #979797;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "clear plus-minus percentage divide" "seven eight nine multiply" "four five six subtract" "one two three add" "zero zero decimal equals"; }
    .calculator .buttons button {
      border: 1px solid #979797;
      border-bottom: none;
      color: black;
      font-size: 35px; }
    .calculator .buttons .button-left {
      background-color: #dfdfdf;
      border-left: none; }
    .calculator .buttons .button-right {
      background-color: #fa9039;
      color: white;
      border-left: none;
      border-right: none; }
    .calculator .buttons #zero {
      grid-area: zero;
      padding-left: 28px;
      text-align: left;
      vertical-align: middle;
      border-bottom-left-radius: 4px; }
    .calculator .buttons #equals {
      border-bottom-right-radius: 4px; }
